
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

<li>@Html.ActionLink("Manage Customer", "Index", "Customers")</li>
<li>@Html.ActionLink("Manage Order", "Index", "ShoesOrders")</li>