
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br>



<br>


<div class="container">


    <table class="table">
        <thead>
            <tr>
                <th>
                    Author Details
                </th>

            </tr>
        </thead>


        <tbody>
            <tr>
                <td><strong> Name</strong> </td>
                <td>Yiming Fan</td>
            </tr>
            <tr>
                <td><strong> Student ID</strong> </td>
                <td>26342707</td>
            </tr>
            <tr>
                <td><strong> Unit Name</strong> </td>
                <td>Web Application Developemnt(FIT5032)</td>
                <td></td>
            </tr>
            <tr>
                <td><strong> unit provider </strong> </td>
                <td>Monash University The Caulfield School of Information Technology</td>
                <td></td>
            </tr>
            <tr>
                <td><strong> Task number</strong>  </td>
                <td>Credit</td>
            </tr>
            <tr>
                <td><strong> Tutor name</strong> </td>
                <td>Prajwol</td>
            </tr>

            <tr>
                <td><strong> Author Email</strong> </td>
                <td>yfan150@student.monash.edu</td>
            </tr>


            <tr>
                <td><strong> Task Links</strong> </td>
                <td>
                    <a href="http://moodle.vle.monash.edu/mod/page/view.php?id=4154651">
                        <div style="height:100%;width:100%">
                            moodle.vle.monash.edu/mod/page/view.php?id=4154651
                        </div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>



    <br>





    <table class="table">
        <thead>
            <tr>
                <th class="NoNewLine">
                    Image Details
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong> Author</strong> </td>
                <td>Nike.inc</td>
            </tr>
            <tr>
                <td><strong> Website</strong> </td>
                <td>https://www.nike.com/au</td>
            </tr>

            <tr>
                <td><strong>Image </strong> </td>
                <td><img src="~/Image/nike_c.png" class="img-rounded" width="304" heigth="236" /></td>

                <td><img src="~/Image/nikea.jpg" class="img-rounded" width="304" heigth="236" /></td>
                <td><img src="~/Image/nikeb.jpg" class="img-rounded" width="304" heigth="236" /></td>

            </tr>
            <tr>
                <td><strong>Image </strong> </td>
                <td><img src="~/Image/Nike1.jpg" class="img-rounded" width="304" heigth="236" /></td>

                <td><img src="~/Image/Nike2.jpg" class="img-rounded" width="304" heigth="236" /></td>

                <td><img src="~/Image/Nike3.jpg" class="img-rounded" width="304" heigth="236" /></td>
            </tr>





        </tbody>
    </table>












</div>

