
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br>

<br>
<h2>FAQ</h2>

<P><B>Q:How much does shipping cost?</B></P>
<p>
    A:The shopping cart will calculate the shipping price for all order. 
    Just add the items you want to your cart and you will get your shipping cost.
</p>
<p><B>Q:Do you ship overseas?</B></p>
<p>
    A:No.These purchases may be subject to import taxes, custom duties and fees, as required by the destination country. 
    Customs policies vary widely from country to country; you should contact your local customs office for further information. 
    When customs clearance procedures are required, it can cause delays beyond our original delivery estimates.
</p>
<p><B>Q:What is your return policy?</B></p>
<p>
    A:We do not accept returns for refunds, credits, or exchanges. 
    All sales are final. Please make sure that you have carefully reviewed your order prior to finalizing your purchase.
</p>
<p><B>Q:Can I contact you directly with any questions?</B></p>
<p>
    A:Absolutely. Please email contact@STUDENT.MOASNH.EDU
     or call 0424341000 with any questions regarding your order or products we carry. 
</p>
<p><B>Q:Do you re-stock your inventory?</B></p>
<p>
    A:On occasion we will re-stock some of our inventory items. 
    Please make sure to check back frequently if an item you want is not available at the time you are on the site. 
    We will occassionally offer specials, sales and online-only deals.
</p>
<p><B>Q:Do I have to have an account to order?</B></p>
<p>
    A:Yes! But you will automatically create an account when you are placing your first order.
</p>



